body, html {
    width: 100%;
    height: 100%;
    font-family: 'Fredericka the Great', cursive;
    background: url(gold.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


h1{
  color: white;
  font-size: 3rem;
  font-weight: 300;
}

h2{
  color: white;
  font-size: 2rem;
  font-weight: 300;

}
.btn{
  font-size: 1rem;
  font-weight: 10;
  border-radius: 3rem;
  text-transform: uppercase;
  opacity: .5;
}

hr{
  opacity: .5;
  position: relative;
  top: .25rem;
  border-radius: 4rem;
  border-color: white;
  height: .2rem;
  background: white;
  margin-bottom: 1rem;
  

}

.btn-primary {	
  font-size: 1.25rem;
  background-color: #292828;	
  border-color: #292828;	
  --bs-btn-hover-bg: #919090;	
  --bs-btn-hover-border-color: #919090;
  opacity: .5;
}

.btn-primary:hover{
  background-color: #919090;
  border-color: #919090;
  border-width: 0rem;
  transition-duration: .25s;
  opacity: .5;
}


form{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  opacity: .65;
  padding-bottom: .65rem;
  border-style: 3rem;
 
  outline: none;

}



input {
border: none;
outline:none;
padding-left: .5rem;
 }

textarea {
outline:none;
}

input::placeholder{
  display: flex;
  
  text-align: center;
  
}